/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* * {
    margin: 0;
  } */
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }

  /* This one is mine */
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* styles */
:root {
    --violet: #40295e;
    --blue: #13222e;
    --white: #f5f5f5;
    --black: #1a1a1a;
    --gray: #5a5a5a;
    --yellow: #e3c200;
    --gold: gold;
    --red: #f3464a;
    --green: #12e193;
    --line-height: 1.6;
    --font-size-base: 1rem;
}

  /*Accordions*/
  :root {
    --gsap-accordion-font-color: white;
    --gsap-accordion-font-size: 18px;
    --gsap-accordion-bg-color: #002244; /* Dark blue */
    --gsap-accordion-bg-color-active: #004488; /* Darker grey */
    --gsap-accordion-bg-color-hover: #004488; /* Slightly lighter dark blue */
    --gsap-accordion-border-color: lightgrey; /* to match body bg color  */
    --gsap-accordion-content-bg-color: white; /* Medium-dark blue */
  }

  .gsap-parent-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .gsap-accordion-inner-content {
    background: var(--gsap-accordion-content-bg-color);
    padding: 30px;
    color: #111;
  }

  .gsap-accordion-menu {
    font-weight: 600;
    font-size: var(--gsap-accordion-font-size);
    border-top: 1.5px solid var(--gsap-accordion-border-color);
    border-bottom: 1.5px solid var(--gsap-accordion-border-color);
    background-color: var(--gsap-accordion-bg-color);
    color: var(--gsap-accordion-font-color);
    cursor: pointer;
    user-select: none;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    transition: ease 0.4s;
    letter-spacing: 1.5px;
  }

  .gsap-accordion-menu:hover {
    background: var(--gsap-accordion-bg-color-hover);
  }

  .gsap-accordion-menu.active {
    background-color: var(--gsap-accordion-bg-color-active);
    opacity: 0.9;
  }

  .gsap-accordion-content {
    height: 0;
    overflow: hidden;
    max-height: 90vh;
    overflow-y: scroll;
  }

  .gsap-accordion-content.expanded {
    height: auto;
  }

  .gsap-accordion-plus,
  .gsap-accordion-minus {
    position: absolute;
    top: 10px;
    right: 10px;
  }
/* 
  body,html {
    margin: 0;
    background-color: #f8f8ff; 
    color: black;
    font-family: Montserrat;
    font-size: 16px;
    padding-bottom: 500px;
  } */

  .gsap-accordion-content p {
    font-size: 18px;
  }

  .gsap-accordion-content img {
    max-width: 190px;
    margin: 0 auto;
    padding: 40px;
  } 

* {
    font-family: "Ubuntu", sans-serif;
    line-height: var(--line-height);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #333;
    background-image: url("./assets/background-images/background.jpg");
  }
  
  header {
    padding: 1rem;
  }

  img {
    margin: 0 auto;
  }

  #face-dragon {
    margin: 1rem auto;
  }
  
  .container {
    max-width: 500px; 
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    #intro {
      margin-bottom: 10px;
    }

    p {
     font-size: clamp(1rem, 1vw + 0.3rem, 2rem); 
     overflow-wrap: break-word;
    }

    h2 {
        text-align: center;
        font-size: clamp(1rem, 1.5vw + 0.3rem, 1.5rem);
        margin-bottom: 1rem;
    }

    ul {
      margin-left: 1rem;
    }

    a {
      text-decoration: none;
      color: var(--yellow);
    }

    .hr {
      height: 10px;
      background-color: var(--blue);
      width: 100%;
      margin: 1rem 0;
      position: relative;

      & > a {
        position: absolute;
        top: -80%;
        right: 50%;
      }
    }
  }
  
  footer {
    text-align: center;
    padding: 0 1rem 1rem 1rem;
  }

  /* Media Queries */
  /* Mobile devices */
  @media (max-width: 480px) {
    .container {
      width: 90%;
      padding: 0.5rem;
    }
  }
  
  /* Tablets */
  @media (min-width: 481px) and (max-width: 768px) {
    .container {
      padding: 0.75rem;
    }
  }
  
  /* Laptops and larger */
  @media (min-width: 769px) {
    .container {
      padding: 1rem;
    }
  }
