:root {
    --violet: #40295e;
    --blue: #13222e;
    --white: #f5f5f5;
    --black: #1a1a1a;
    --gray: #5a5a5a;
    --yellow: #e3c200;
    --gold: gold;
    --red: #f3464a;
    --green: #12e193;
    --line-height: 1.6;
    --font-size-base: 1rem;
}

* {
    font-family: "Ubuntu", sans-serif;
    line-height: var(--line-height);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #333;
    background-image: url("../assets/background-images/background.jpg");
  }
  
  header {
    padding: 1rem;
  }

  img {
    margin: 0 auto;
  }

  #face-dragon {
    margin: 1rem auto;
  }
  
  .container {
    max-width: 500px; 
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    #intro {
      margin-bottom: 10px;
    }

    p {
     font-size: clamp(1rem, 1vw + 0.3rem, 2rem); 
     overflow-wrap: break-word;
    }

    h2 {
        text-align: center;
        font-size: clamp(1.5rem, 2vw + 0.3rem, 2.5rem);
        margin-bottom: 1rem;
    }

    ul {
      margin-left: 1rem;
    }

    a {
      text-decoration: none;
      color: var(--yellow);
    }

    .hr {
      height: 10px;
      background-color: var(--blue);
      width: 100%;
      margin: 1rem 0;
      position: relative;

      & > a {
        position: absolute;
        top: -80%;
        right: 50%;
      }
    }
  }
  
  footer {
    text-align: center;
    padding: 0 1rem 1rem 1rem;
  }
  
  /* Media Queries */
  /* Mobile devices */
  @media (max-width: 480px) {
    .container {
      width: 90%;
      padding: 0.5rem;
    }
  }
  
  /* Tablets */
  @media (min-width: 481px) and (max-width: 768px) {
    .container {
      padding: 0.75rem;
    }
  }
  
  /* Laptops and larger */
  @media (min-width: 769px) {
    .container {
      padding: 1rem;
    }
  }